.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}

.linea {
  border-top: 5px solid #0077c0;
  margin-bottom: 40px;
}

.cont-img {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.cont-img .imagen-product {
  width: 32%;
  position: relative;
  height: 500px;
  margin-bottom: 5px;
  box-shadow: 0px 0x 3px 0 rgba(0, 0, 0, 0.75);
}

.imagen-product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 118, 192, 0.4745098039);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}
.overlay > h2 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen-product:hover .overlay {
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cont-img {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .cont-img {
    width: 90%;
  }
  .cont-img .imagen-product {
    width: 48%;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .cont-img {
    width: 98%;
  }
  .cont-img .imagen-product {
    width: 80%;
  }
}