%button{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}

#banner{
    padding: 0 50px;
    background-image: url(../assets/img/img1.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: '';
    background: rgba(77,77,92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;

}
.contenido-banner h3 span{
    font-weight: 600;
}

.boton-empezar{
   @extend %button
}
.boton-empezar:hover{
    background:#6cc09070;
}