*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import "header";
@import "section";
@import "tarjetas-corazon";
@import "card-product";
@import "pie";
@import "extend";
@import "contactos";
@import "main-contact";
@import "main-product";
@import "main-promos";



